$primary: "red";
$accent: "red";

@import "ember-paper";
@import "./sky";

html,
body,
body > div.ember-view {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(0deg, #292367 0%, #0e4577 100%);
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
  box-sizing: border-box;
}

.text-primary {
  color: color($primary, '500');
}

.box-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: relative;

  &.has-parachute {
    animation: tossing 10s ease-in-out infinite;
    animation-direction: alternate;

    .box {
      margin-top: -100px;
    }
    .parachute {
      margin-top: -30px;
      margin-bottom: 0;
      width: 700px;
    }
  }

  .box {
    position: relative;
    width: 450px;
    margin-top: 0;
    transition: all ease-out 0.75s;
    padding: 0 10px;
    z-index: 1;
    box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.5);

    .title {
      font-family: 'Pacifico', cursive;
      margin: 0;
      font-weight: 400;
      font-size: 34px;
      color: color($color-grey, '800');
    }

    .box-content {
      height: 270px;
    }

    .box-actions {
      padding: 10px 0;
    }

    .loading {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .parachute {
    margin-top: 0;
    margin-bottom: -200px;
    transition: all ease-out 0.75s;
    width: 200px;
    z-index: 0;
    opacity: 0.95;
  }
}

.troll-loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  > img {
    width: 250px;
    animation: rotating 2s linear infinite;
  }
}

.github {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
},

.help {
  position: absolute;
  bottom: 100px;
  right: 20px;
  background-color: color($color-blue-grey, '500') !important;
  color: white;
}

.help-dialog-header {
  background-color: color($color-blue-grey, '500');
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes tossing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
