<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

{{outlet}}

{{#paper-button raised=true fab=true primary=true href="https://github.com/offirgolan/ember-parachute" target="_blank" class="github"}}
  <img src="images/github.png" alt="" ondragstart="return false;">
{{/paper-button}}
