<div>
  <button {{action (toggle 'direction' this 'asc' 'desc')}}>Sort: {{direction}}</button>
</div>
<div>
  {{input value=search placeholder="Search..."}}
</div>
<div>
  {{input value=page placeholder="Page" type="number"}}
</div>
